/* flexbox, grid */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Courier New, serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	gap: 15px;
}

.headers {
	background: black;
	color: white;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.paragraphs {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 15px;
}

.paragraph2 {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 15px;
	font-size: 24px;
	text-shadow: 1px 1px green;
}

.functional {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
}

button:hover, select:hover {
	cursor: pointer;
	background: azure;
	padding: 10px 15px;
}

button {
	background: white;
	border: 1px solid teal;
	padding: 5px 10px; 
	border-radius: 45px;
}

.lists {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.image {
	margin-left: auto;
	margin-right: auto;
	width: 12%;
}